body {
    margin: 0;
    background-color: #ffffff;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.margined {
    margin: 0 135px;
}

header h1 {
    font-family: 'Playfair Display', serif;
    color: #000000;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    margin-top: 60px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 46px 0;
}

.menu a {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #000000;
}

.promo {
    width: 100%;
    height: 464px;
    background: #c4c4c4 url("./Hotel-11.jpg") no-repeat;
    background-size: cover;
    background-position: center 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #FF7931;
    margin-top: 46px;
    position: relative;
    
}

.icon svg {
    position: absolute;
    left: 15px;
    top: 16px;

}

.promo-heading {
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-top: 32px;
}

.promo-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-top: 139px;
    max-width: 456px;
}

.reviews {
    margin-top: 44px;
}

h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #000000;
}

.reviews-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.reviews-item {
    width: 370px;
}

.reviews-item-pic {
    width: 100%;
    max-height: 207px;
    margin-bottom: 20px;
}

.item-heading {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
}

.item-description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    margin: 0;
    display: block;
    min-height: 63px;
}

.hr {
    display: inline-block;
    width: 100px;
    font-size: 0;
    line-height: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 24px;
}

a, a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #FF7931;
}

.membership {
    margin-top: 50px;
    background: radial-gradient(circle at center, #FFFFFF 0, #FFFFFF 353px, #F7F7F7 353px, #F7F7F7 100%);
    padding-top: 33px;
    padding-bottom: 36px;
}

.advantages-list {
    margin-top: 35px;
    margin-bottom: 25px;
}
.advantages-item {
    text-align: center;
    width: 370px;
}

.button {
    display: inline-block;
    width: 170px;
    height: 47px;
    background-color: #FF7931;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 47px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.button svg {
    display: inline;
    vertical-align: middle;
    margin-left: 7px;
}

.button:hover,
.button:visited {
    color: #FFFFFF;
}

.page-footer {
    display: flex;
    flex-direction: column;
    background-color: #575757;
    margin-top: 50px;
}

.page-footer p {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: center;
}

.footer-menu {
    border-bottom: 1px solid #FFFFFF;
}

.footer-menu a {
    color: #FFFFFF;
}

.footer-menu a:hover {
    opacity: 0.8;
}

.social {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 46px;
}

.social a {
    width: 47px;
    height: 47px;
    background-color: #FFFFFF;
    margin: 0 7px;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
